.certification-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px;
}

.certification-grid-item {
    background-color: #3A3B3C;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.certification-grid-item:hover {
    outline: 2px solid white;
}

.certification-grid-item img {
    max-height: 140px;
    width: auto;
    margin-bottom: 15px;
    object-fit: contain;
}

.pdf-link {
    text-decoration: none;
    color: white;
}

@media (max-width: 900px) {
    .certification-grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .certification-grid-container {
        grid-template-columns: 1fr;
    }
}
