.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
.page-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: -200px 1rem 0; /* Top padding pushes content below fixed navbar */
  }